.container{
    width: 90%;
    margin: 0 auto;
}
.orderElement{
    display: flex;
    justify-content: space-between;
    padding-bottom: 3px;
    font-size: 14px;
}
.price{
    width: 110px;
    text-align: right;
}
.total{
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 18px;
    padding: 5px 0 10px 0;
}
.orderButton{
    width: 100%;
    border-radius: 10px;
    background-color: rgb(52, 51, 51);
    border: none;
    cursor: pointer;
    color: white;
    letter-spacing: 0.5px;
    padding: 4% 0;
}
.orderButton:hover{
    background-color: rgb(192, 190, 190);
}