*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.modalRegistrationWindow{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(128, 128, 128, 0.3);
    z-index: 1;
}